body.hide-my-reads .my-reads {
  display: none;
}
.bookshelf {
  margin-bottom: 8vw;
}
.bookshelf:last-child {
  margin-bottom: 0;
}
.bookshelf__title {
  border-bottom: 1px solid #dedede;
  margin-bottom: 4vw;
}
