.book-details__top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: #2e7c31;
  z-index: 1;
}
.book-details__go-back {
  display: block;
  top: 20px;
  left: 15px;
  width: calc(4vw + 40px);
  height: 50px;
  background-image: url('../icons/arrow-back.svg');
  background-position: 4vw center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.book-details__title {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  color: white;
}

.book-details__content {
  margin-top: 50px;
  padding: 4vw;
}
.book-details__subtitle {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 2vw;
}
.book-details__info {
  list-style: none;
  margin-bottom: 4vw;
}
.book-details__info li {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
  color: #5a5a5a;
}
.book-details__cover {
  float: left;
  max-width: 130px;
  margin: 0 4vw 4vw 0;
}
.book-details__description {
  margin-bottom: 4vw;
}
.book-details__link {
  color: #60ac5d;
}
