/* List cards */
.list-books {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list-books li {
  padding: 10px 15px;
  text-align: left;
}

/* Book Card */
.book-card {
  width: 140px;
  position: relative;
}
.book-card__top {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.book-card__cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 128px;
  height: 192px;
}
.book-card__cover--default {
  background-image: url('../icons/book.svg');
  background-size: 70%;
}
.book-card__title,
.book-card__authors {
  font-size: 0.8em;
}
.book-card__title {
  margin-top: 10px;
}
.book-card__authors {
  color: #999;
}
.book-card__shelf {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('../icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;
}
.book-card__shelf--add {
  background-image: url('../icons/add.svg');
}
.book-card__shelf select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.book-card__detail {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
